<footer class="footer hidden-xs-down">
  <p>Copyright &copy; 2011-2015 <a href="http://www.maceit.co.nz">Mace IT Services</a></p>

  <ul class="nav footer__nav">
    <a class="nav-link" [href]="redirectUrl+'#/main/home'">Home</a>

    <a class="nav-link" [href]="redirectUrl+'#/main/'">Help Guide</a>

    <a class="nav-link" [href]="redirectUrl+'#/main/'">FAQ</a>

    <a class="nav-link" [href]="redirectUrl+'#/main/reports'">Reports</a>

    <a class="nav-link" [href]="redirectUrl+'#/main/'">Support</a>

    <a class="nav-link" [href]="redirectUrl+'#/main/'">Contact</a>

  </ul>
</footer>