.agreement-div{
    display: flex;
    justify-content: center;
}

.checkbox_wrap{
    display: flex;
    align-items: normal;
}

.btn-green {
    background-color: rgb(76, 175, 80);;
    color: #fff;
    border-radius:4px
}